/**
 * Global Style
 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/**
 * Display Styles
 */
.d-hidden {
    display: none;
}

.d-flex {
    display: flex;
    justify-content: space-around;
}

.d-flex .box {
    width: 30%;
}

textarea.markdown-text {
    padding: 5px;
    width: 100%;
    height: 300px;
    resize: vertical;
}

.markdown-preview {
    border: 3px solid #ccc;
    min-height: 300px;
    width: 100px;
}

/* active style */
.markdown-text.active {
    border: 1px solid red;
}

.markdown-preview.active {
    border: 1px solid red;
}