/**
 * Global Style
 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

/**
 * Display Styles
 */
.d-hidden {
    display: none;
}

.d-flex {
    display: flex;
}

textarea.markdown-text {
    padding: 5px;
    margin: auto 10px;
    resize: vertical;
}

.markdown-preview {
    border: 3px solid #ccc;
    min-height: 300px;
    width: 100px;
}