* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Noto Sans SC', sans-serif;
}

html,
body,
main {
    height: 100vh;
}

header,
footer {
    width: 100%;
    background: #001e43;
    color: white;
    position: absolute;
}

header {
    top: 0;
    padding: 0 16px;
    height: 48px;
    line-height: 48px;
    font-size: 2em;
}

footer {
    bottom: 0;
    text-align: center;
    height: 32px;
    line-height: 32px;
    font-size: 1.2em;
}

main.container {
    padding-top: 48px;
    background: #404040;
}

textarea:focus,
button:focus {
    outline: none;
}

/* Display */
.d-hidden {
    display: none;
}

.d-flex {
    display: flex;
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}