
/* icons */
button {
    height: 100%;
    width: 40px;
    background: none;
    border: none;
    box-sizing: border-box;
}

button i {
    color: white;
    font-size: 2em;
}


button i:hover {
    cursor: pointer;
    opacity: .8;
}

/* main app */
.box {
    width: 100%;
    height: calc(100vh - 48px);
    border-right: 1px solid black;
    box-sizing: border-box;
}

.box:last-child {
    border-right: none;
}

.box-header {
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 50px;
    background: #303030;
}

/* markdown fields */
textarea.markdown-text,
.markdown-preview {
    width: 100%;
    height: calc(90vh - 48px);
    max-height: 100vh;
}

textarea.markdown-text {
    padding: 5px;
    font-size: 1em;
    resize: vertical;
    border: none;
}

.markdown-preview {
    font-size: 1.4em;
    padding: 10px;
    color: white !important;
}

/* active style */
.markdown-text.active {
    border: 1px solid red;
}

.markdown-preview.active {
    border: 1px solid red;
}

.box-header.active {
    text-decoration: underline;
}

/**
 * Components
 */

/* tooltip */
.cp-tooltip {
    display: inline-block;
}
.cp-tooltip-text {
    position: relative;
    cursor: pointer;
}
.cp-tooltip-text::after {
    position: absolute;
    transition: all 0.3s ease 0s;
    opacity: 0;
    top: 0px;/*HOVERのスタート位置*/
    left: 0px;
    display: block;
    padding: 0.2em 0.5em;
    content: attr(data-tooltip);
    white-space: nowrap;
    color: #ffffff;
    border-radius: 6px;
    background: black;
}
.cp-tooltip-text:hover::after {
    top: 26px;/*HOVER位置*/
    opacity: 1;
}